body { font-family: Arial; margin: 20px; }
h1 { text-align: center; }
.user-box { text-align:center; margin-bottom:10px; }
.filters { display:flex; gap:10px; justify-content:center; margin-bottom:15px; flex-wrap: wrap; }
.container { display:flex; gap:20px; flex-wrap: wrap; }
.players { width:60%; border:1px solid #ccc; padding:10px; }
.player { display:flex; justify-content:space-between; margin-bottom:5px; }
.squad { width:35%; border:1px solid #333; padding:10px; position:sticky; top:10px; height:fit-content; }
button { cursor:pointer; }
